.winner {
    position: absolute;
    background-color: var(--tile);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 20;
    font-size: xx-large;
}